<div class="sliding-info-sidebar" id="process_activity_timeline">
<span class="close-slider"></span>
	<div class="sliding-body">
		<div class="profile-wrapper text-center">
			<div class="faclty-user-img">
				<img src="{{asset('bundles/images/user-img2.jpg')}}" class="img-circle" width="100">
			</div>
			<span class="faclty-name_big">amanda gray</span>
			<p class="faclty-contact-dtl">+1 704 678 0001</p>
			<p class="prof_short_desc1">Aenean auctor, odio a feugiat tempus, eros sapien euismod nibh, nec laoreet quam lacus id magna. Etiam ultricies vulputate fermentum</p>
			<button class="blue_msg_btn center-block">message</button>
		</div>
		<div class="activity_timeline">
			<h1>timeline</h1>
			<h2>Last activity 5 days ago</h2>
			<div class="sb-container scrollbar-container">
				<ul>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
					<li class="left clearfix">
						<span class="pull-left">
						   <img src="{{asset('bundles/images/user-img1.jpg')}}" alt="user-img" class="img-circle" width="45">
						</span>
						<div class="activity_timeline-body">
							<div class="header">
								<h2>Jack Sparrow</h2>
								<span class="pull-right text-right">
								   <i class="fa fa-check-circle check_status_green" aria-hidden="true"></i>
									<small>4 days ago</small></span>
							</div>
							<p>
							  How are you
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>